In [ ]:
#class of 12/07/2025
name = "alice"
print(name)

type(name)