In [4]:
#class of 12/07/2025
name = "alice"
print(name)

type(name)

#naming conventions for variables:
# cannot start with a number
# cannot have spaces
# start with lower case and use camel case
# start with lower case and use underscore
# can start with underscore

#Python does not run the comments

alice

str

In [5]:
x = 10;
y = 2;
z = 10 * 2;

print(z)

20

In [6]:
#This is for calculating the total price of products
numberProducts = 10
priceProduct = 2

totalPrice = numberProducts * priceProduct;
print(totalPrice)

20

In [7]:
name = input("Enter your name: ");
print("Hello "+name);

type(name)

Hello 2

str

In [ ]:
num1 = input("Enter num 1: ");
num2 = input("Enter num 2: ");
print(num1 + num2); #displays 23

23

In [10]:
num1 = int(input("Enter num 1: "));
num2 = int(input("Enter num 2: "));
print(num1 + num2); #displays 5

5

In [ ]:
#sum, difference, 
# product
# quotient - /
# modulus - %

In [11]:
10/2

5.0

In [13]:
#floor
7 // 2

3

In [ ]:
name = "Alice"
age = 30
is_student = True

print("Hi, I am ", name, "and my age is ", age)

#fstrings - string interpolation
print(f"Hi I am {name}, and my age is {age}")
#print(f"Hi I am {name}, and my age is {"{age}") - escape character - to review

#formatted strings
print("Hi I am {}, and my age is {}".format(name, age))

#formatted strings
print("Hi I am {}, and my age is {}".format(name, age))

#formatted strings with named placeholders
print("Hi I am {a}, and my age is {b}. My beautiful name is {a}".format(a=name, b=age))

<string>:9: SyntaxWarning: invalid escape sequence '\{'
<>:9: SyntaxWarning: invalid escape sequence '\{'
<string>:9: SyntaxWarning: invalid escape sequence '\{'
<>:9: SyntaxWarning: invalid escape sequence '\{'
C:\Users\SD360137\AppData\Local\Temp\ipykernel_29180\76196217.py:9: SyntaxWarning: invalid escape sequence '\{'
  print(f"Hi I am {name}, and my age is \{"{age}")

SyntaxError: f-string: unmatched ')' (76196217.py, line 9)