In [4]:
#class of 12/07/2025
name = "alice"
print(name)

type(name)

#naming conventions for variables:
# cannot start with a number
# cannot have spaces
# start with lower case and use camel case
# start with lower case and use underscore
# can start with underscore

#Python does not run the comments

alice

str

In [5]:
x = 10;
y = 2;
z = 10 * 2;

print(z)

20

In [6]:
#This is for calculating the total price of products
numberProducts = 10
priceProduct = 2

totalPrice = numberProducts * priceProduct;
print(totalPrice)

20

In [7]:
name = input("Enter your name: ");
print("Hello "+name);

type(name)

Hello 2

str

In [ ]:
num1 = input("Enter num 1: ");
num2 = input("Enter num 2: ");
print(num1 + num2); #displays 23

23

In [10]:
num1 = int(input("Enter num 1: "));
num2 = int(input("Enter num 2: "));
print(num1 + num2); #displays 5

5

In [ ]:
#sum, difference, 
# product
# quotient - /
# modulus - %