In [ ]:
#class of 12/07/2025 - 15:30 to 16:30
name = "alice"
print(name)

type(name)

#naming conventions for variables:
# cannot start with a number
# cannot have spaces
# start with lower case and use camel case
# start with lower case and use underscore
# can start with underscore

#Python does not run the comments

alice

str

In [5]:
x = 10;
y = 2;
z = 10 * 2;

print(z)

20

In [6]:
#This is for calculating the total price of products
numberProducts = 10
priceProduct = 2

totalPrice = numberProducts * priceProduct;
print(totalPrice)

20

In [7]:
name = input("Enter your name: ");
print("Hello "+name);

type(name)

Hello 2

str

In [ ]:
num1 = input("Enter num 1: ");
num2 = input("Enter num 2: ");
print(num1 + num2); #displays 23

23

In [10]:
num1 = int(input("Enter num 1: "));
num2 = int(input("Enter num 2: "));
print(num1 + num2); #displays 5

5

In [ ]:
#sum, difference, 
# product
# quotient - /
# modulus - %

In [11]:
10/2

5.0

In [13]:
#floor
7 // 2

3

In [ ]:
name = "Alice"
age = 30
is_student = True

print("Hi, I am ", name, "and my age is ", age)

#fstrings - string interpolation
print(f"Hi I am {name}, and my age is {age}")
#print(f"Hi I am {name}, and my age is {"{age}") - escape character - to review

#formatted strings
print("Hi I am {}, and my age is {}".format(name, age))

#formatted strings
print("Hi I am {}, and my age is {}".format(name, age))

#formatted strings with named placeholders
print("Hi I am {a}, and my age is {b}. My beautiful name is {a}".format(a=name, b=age))

<string>:9: SyntaxWarning: invalid escape sequence '\{'
<>:9: SyntaxWarning: invalid escape sequence '\{'
<string>:9: SyntaxWarning: invalid escape sequence '\{'
<>:9: SyntaxWarning: invalid escape sequence '\{'
C:\Users\SD360137\AppData\Local\Temp\ipykernel_29180\76196217.py:9: SyntaxWarning: invalid escape sequence '\{'
  print(f"Hi I am {name}, and my age is \{"{age}")

SyntaxError: f-string: unmatched ')' (76196217.py, line 9)

In [10]:
#Comparison Operators
# == Equal to
# != Not equal to
# < less than

print(10<10)

print(10<=10)

False
True

In [ ]:

roomtemp = 26
if roomtemp > 25:
    print("Turn on AC")

Turn on AC

In [14]:
roomtemp = 20
if roomtemp > 25:
    print("Turn on AC")
else:
    print("Turn off AC")

Turn off AC

In [ ]:
#multiple conditions
roomtemp = 20
if roomtemp > 25:
    print("Turn on AC")
elif roomtemp < 20:
    print("Turn off AC")
else:
    print("AC is not needed")

AC is not needed

In [30]:
#Loops
for i in range(5):
    print("Hello world");

for i in range(1,5): #starting inclusive, ending exclusive
    print(i);

for i in range(1,3):
    print("Hello world");

for i in range(0, 11, 2):
    if(i!=0):
        print(i);

for i in range(5, 0, -1):
    if(i!=0):
        print(i);

Hello world
Hello world
Hello world
Hello world
Hello world
1
2
3
4
Hello world
Hello world
2
4
6
8
10
5
4
3
2
1

In [ ]:
i = 1;
while i < 5:
    print(i);
    i+=1;


i = 4;
while i < 10:
    print(i);
    i+=1;



i = 0;

while i<10:
    if i ==5:
        i+=1;
        continue

    if i==8:
        break;

    print(i)
    i+=1;

#Break - breaks the current execution
#Continue - skips the current iteration

1
2
3
4
4
5
6
7
8
9

In [ ]:

while True:
    print("This is aninfinite loop until i = 3");

    if(i==3):
        print("Breaking the loop at i = ",i)
        break #breaks the loop immediately

#Break - breaks the current execution
#Continue - skips the current iteration

In [27]:
#match case
value = 2
match value:
    case 1:
        print("Value is 1");
    case 2:
        print("Value is 2");
    case _:
        print("Value is something else");

Value is 2

In [ ]:
val = 50;

if(val <10 or val > 30):
    print("Meet condition")

if(False or True):
    print("Meet condition")

if(not(val <10) or val > 30):
    print("Meet condition")

Meet condition
Meet condition

In [50]:
#Practical - Simple Grade Calculator

numberOfSubjects = int(input("Please enter the number of subjects: "));
totalMarks = 0;
for i in range(numberOfSubjects):
    totalMarks += int(input(f"Enter mark for subject {i+1}: "));
print(f"Total Score: {totalMarks}");

#totalMarks = 59;

if totalMarks >= 90:
    print("Letter Grade: A");
elif totalMarks >= 80 and totalMarks <=89:
    print("Letter Grade: B");
elif totalMarks >= 70 and totalMarks <=79:
    print("C");
elif totalMarks >= 60 and totalMarks <=69:
    print("Letter Grade: D");
else:
    print("Letter Grade: F");

Total Score: 325
Letter Grade: A